body {
    color:hotpink;
    background:azure;
}
header {
    border-bottom: solid 2px black;
    padding: 0px;
    font-size: 32px;
    color: black;
}
section{
    background: solid 2px purple;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
div {
margin-right: 5%
}